<section id="intro" class="container-fluid ">
        <h1 class="turret-road-bold">
        <span class='nowrap-text'>Withholding</span> 
        <span class='nowrap-text'>shouldn't be</span>
        <span class='nowrap-text'>complicated...</span></h1>
        <button>Withhodl Today</button>
        <%= image_tag('btc.svg', alt: 'Bitcoin Coin', id: 'bitcoin-coin') %>
        <%= image_tag('chain-link-coin.svg', alt: 'Chainlink Coin', id: 'chainlink-coin') %>
        <%= image_tag('cardano.svg', alt: 'Cardano Coin', id: 'cardano-coin') %>
        <%= image_tag('eth.svg', alt: 'Ethereum Coin', id: 'ether') %>
        <%= image_tag('usdc.svg', alt: 'USD Coin', id: 'usdc') %>
        <%= image_tag('monero.svg', alt: 'Monero Coin', id: 'monero') %>
</section>
<section id="video" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>How it works</h2>
            <p>Taxolotl is a application that allows you to withhold taxes on your cryptocurrency transactions. It's simple, secure, and easy to use.</p>
            <iframe src="https://www.youtube.com/embed/7sDY4m8KNLc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div> 
</section>
<section id="Our-Mission">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2>Our Mission</h2>
            </div>
            <div class="col-md-6">
                <p>Our mission is to make it easy for you to withhold taxes on your cryptocurrency transactions. We believe that everyone should be able to withhold taxes on their cryptocurrency transactions, and we're here to help you do that.</p>
            </div>
        </div>
    </div>
</section>