<section id="intro" class="container-fluid ">
        <h1 class="turret-road-bold">
        <span class='nowrap-text'>Withholding</span> 
        <span class='nowrap-text'>shouldn't be</span>
        <span class='nowrap-text'>complicated...</span></h1>
        <button>Withhodl Today</button>
        <%= image_tag('btc.svg', alt: 'Bitcoin Coin', id: 'bitcoin-coin') %>
        <%= image_tag('chain-link-coin.svg', alt: 'Chainlink Coin', id: 'chainlink-coin') %>
        <%= image_tag('cardano.svg', alt: 'Cardano Coin', id: 'cardano-coin') %>
        <%= image_tag('eth.svg', alt: 'Ethereum Coin', id: 'ether') %>
        <%= image_tag('usdc.svg', alt: 'USD Coin', id: 'usdc') %>
        <%= image_tag('monero.svg', alt: 'Monero Coin', id: 'monero') %>
</section>  