<div class="container wallet">
    <div id="<%= dom_id wallet %>">
        <% if wallet.chain == "Withholding Wallet" %>
        <div id="withholding_wallet" class="wallet row">
            <h2>Withholding Wallet</h2>
            <p><%= wallet.wallet_address %></p>
        </div>
        <% else %>
            <div id="<%= wallet.chain %>-wallet" class='single-wallet row'>
                <div class="col-lg-6 col-md-12">
                    <% if wallet.chain == 'Ethereum' %>
                        <%= image_tag "ether-icon.svg", class: "wallet-icon" %>
                    <% end %>
                </div>
                <div class='col-lg-6 col-md-12'>
                    <p class='wallet-address'><%= wallet.wallet_address %></p>
                </div>
            </div>
            <div id="pending-transactions">
                <% if pending_transactions.is_a?(Hash) && pending_transactions.key?("message") || pending_transactions.empty? %>
                    <p>No pending transactions</p>
                <% else %>
                    <% pending_transactions.each do |transaction| %>
                        <div class="transaction">
                            <p class="hash">Hash: <%= transaction["hash"] %></p>
                            <p class="amount">Amount: <%= transaction["amt_to_withhold"] %></p>
                            <button 
                                class="transaction-button" 
                                data-hash="<%= transaction["hash"] %>" 
                                data-user="<%= @user_id %>" 
                                data-wallet="<%= @user_withholding_wallet %>" 
                                data-amt="<%= transaction["amt_to_withhold"] %>"
                                data-percentage="<%= @wallet.percentage %>">
                                Process</button>
                        </div>
                    <% end %>
            </div>
                <% end %>
        <% end %>
    </div>
</div>