<div id="<%= dom_id wallet %>">
  <% if wallet.chain == "Withholding Wallet" %>
    <div id="withholding_wallet" class="wallet row">
      <h2>Withholding Wallet</h2>
      <p><%= wallet.wallet_address %></p>
    </div>
  <% else %>
    <div id="<%= wallet.chain %>-wallet" class='wallet row'>
      <% count = pending_transactions_hash[wallet.chain].count rescue 0 %>
      <span class="count-notification"><%= count %> Pending Transactions</span>
      <% if wallet.chain == 'Ethereum' %>
        <%= image_tag "ether-icon.svg", class: "wallet-icon" %>
      <% end %>
      <p class="wallet-address"><%= wallet.wallet_address %></p>
      <%= link_to "Show this wallet", wallet %>
    </div>
  <% end %>
</div>
