<div id="<%= dom_id wallet %>">
  <% if wallet.chain == "Withholding" %>
    <div id="withholding_wallet" class="wallet row">
      <h2>Withholding Wallet</h2>
      <p><%= wallet.wallet_address %></p>
      <%= link_to "Manage Withholding Wallet", wallet %>

    </div>
  <% else %>
    <div id="<%= wallet.chain %>-wallet" class='wallet row'>
      <% count = wallet.pending_transactions.count rescue 0 %>
      <span class="count-notification"><%= count %> Pending Transactions</span>
      <div class='col-lg-6 col-md-12'>
        <div class='chain-id'>
          <% if wallet.chain == 'Ethereum' %>
            <%= image_tag "ether-icon.svg", class: "wallet-icon" %>
          <% elsif wallet.chain == 'Polygon' %>
            <%= image_tag "matic-icon.svg", class: "wallet-icon" %>
          <% elsif wallet.chain == 'Optimism' %>
            <%= image_tag "optimism-icon.svg", class: "wallet-icon" %>
          <% elsif wallet.chain == 'Arbitrum' %>
            <%= image_tag "arbitrum-icon.svg", class: "wallet-icon" %>
          <% elsif wallet.chain == 'Base' %>
            <%= image_tag "base-icon.svg", class: "wallet-icon" %>
          <% end %>
          <h2><%= wallet.chain %> Wallet</h2>
        </div>
        <p class="wallet-address"><%= wallet.wallet_address %></p>
      </div>
      
      <div class='col-lg-6 col-md-12'>
      <%= link_to "View", wallet %>
      </div>
    </div>
  <% end %>
</div>
