<div id="<%= dom_id wallet %>">
  <% if wallet.chain == "Withholding Wallet" %>
    <div id="withholding_wallet" class="wallet row">
      <h2>Withholding Wallet</h2>
      <span><%= wallet.wallet_address %></span>
    </div>
  <% else %>
    <div id="<%= wallet.chain %>-wallet" class='wallet row'>
      <% if wallet.chain == 'Ethereum' %>
        <%= image_tag "ether-icon.svg", class: "wallet-icon" %>
      <% end %>
      <span><%= wallet.wallet_address %></span>
      <%= link_to "Show this wallet", wallet %>
    </div>
  <% end %>
</div>
