<p style="color: green"><%= notice %></p>

<h1>Wallets</h1>

<div id="wallets">
  <% @wallets.each do |wallet| %>
    <%= render wallet %>
    <p>
      <%= link_to "Show this wallet", wallet %>
    </p>
    <div class='pending-transactions'>
      <% @pending_transactions.each do |transaction| %>
        <% if transaction.from === wallet.wallet_address %>
          <%= render transaction %>
        <% end %>
      <% end %>
    </div>

  <% end %>
</div>

<%= link_to "New wallet", new_wallet_path %>
